SOURCE_HOST=host.docker.internal
SOURCE_PORT=5432
SOURCE_DB=ups_logistics
SOURCE_USER=postgres
SOURCE_PASSWORD=your_password

TARGET_HOST=host.docker.internal
TARGET_PORT=5432
TARGET_DB=ups_logistics_dw
TARGET_USER=postgres
TARGET_PASSWORD=your_password